<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css" type="text/css">
   <title th:text="${title}"></title>
</head>
<body>
   <nav class="navbar navbar-expand-lg bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/" th:text="${header}"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
            <a class="nav-link" href="/insert">insert</a>
            <a class="nav-link" href="#">Pricing</a>
            <a class="nav-link disabled">Disabled</a>
          </div>
        </div>
      </div>
    </nav>
    <h2 th:text="${message}"></h2>
    <div class="container w-25 mt-3">
       <form th:object="${search}" th:action="@{/search}" method="post">
          <div class="input-group mb-3">
             <input type="text" class="form-control" th:field="*{keyWord}" placeholder="searh product name" aria-describedby="button-addon2">
             <button class="btn btn-success" type="submit" id="button-addon2">search</button>
           </div>
       </form>
    </div>
    <div class="products" style="width: 700px; margin : 0 auto;">
       <table class="table">
          <thead class="bg-danger">
             <tr>
                <th>id</th>
                <th>code</th>
                <th>name</th>
                <th>price</th>
                <th>manage</th>
             </tr>
          </thead>
          <tbody>
             <tr th:each="product : ${products}"> 
                <td th:text="${product.id}"></td>
                <td th:text="${product.code}"></td>
                <td th:text="${product.name}"></td>
                <td th:text="${product.price}"></td>
                <td>
                   <a class="badge bg-success" th:href="@{'/edit/'+${product.id}}">edit</a>
                   <a class="badge bg-danger" th:href="@{'/delete/'+${product.id}}">delete</a>
               </td>
             </tr>   
          </tbody>
       </table>
    </div>
</body>
<script src="/webjars/bootstrap/5.1.3/js/bootstrap.min.js"></script>
</html>